body,
html {
  color: #fff;
}

body *,
html * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body ::-webkit-input-placeholder,
html ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 0.8;
  /* Firefox */
}

body :-ms-input-placeholder,
html :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 0.8;
  /* Firefox */
}

body ::-ms-input-placeholder,
html ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 0.8;
  /* Firefox */
}

body ::placeholder,
html ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 0.8;
  /* Firefox */
}

body :-ms-input-placeholder,
html :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

body ::-ms-input-placeholder,
html ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

#hdlogo img {
  width: auto;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.btn_shadow_purple,
.btn_purple,
.btn_green,
.btn_orange,
.btn_green_disab {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.wrapper {
  margin-top: 55px;
  width: 100%;
  position: relative;
  background: url("../images/mission/bg_left.png"), url("../images/mission/bg_right.png"), url("../images/mission/bg.jpg"), #150622;
  background-position: top left, top right, top center, center;
  background-size: 40vh, 40vh, 100vw;
  background-repeat: no-repeat;
}

.wrapper .container {
  width: 1100px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 20px;
}

.wrapper .bg {
  width: 100%;
}

.wrapper .sec_bg {
  background: -webkit-gradient(linear, left bottom, left top, from(#150622), color-stop(50%, #40136a), to(#2b0d40));
  background: linear-gradient(0deg, #150622 0%, #40136a 50%, #2b0d40 100%);
}

.slogan {
  width: 30vw;
  margin: 30px auto;
}

.brand_head {
  padding-bottom: 50px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #2b0d40), to(rgba(43, 13, 64, 0)));
  background: linear-gradient(0deg, #2b0d40 25%, rgba(43, 13, 64, 0) 100%);
}

.brand_head .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand_head .chat_box {
  width: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 40px;
  background-color: #1f152e;
  border: 2px solid #fff;
  position: relative;
  z-index: 5;
  padding: 30px 40px;
}

.brand_head .chat_box::before {
  content: '';
  position: absolute;
  right: -36px;
  bottom: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 0 13px 35px;
  border-color: transparent transparent transparent #fff;
  z-index: 2;
}

.brand_head .chat_box::after {
  content: '';
  position: absolute;
  right: -30px;
  bottom: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 0 13px 35px;
  border-color: transparent transparent transparent #1f152e;
  z-index: 3;
}

.brand_head .chat_box .brand_logo {
  margin-bottom: 30px;
}

.brand_head .chat_box .brand_logo img {
  width: auto;
  height: auto;
}

.brand_head .chat_box .brand_logo img.for_w {
  width: 200px;
}

.brand_head .chat_box .brand_logo img.for_h {
  height: 60px;
}

.brand_head .chat_box h2 {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
}

.brand_head .chat_box .mission_hint {
  display: block;
  font-size: 20px;
  margin-top: 20px;
  text-shadow: 0 0 10px rgba(254, 147, 0, 0.8), 0 0 10px rgba(254, 147, 0, 0.8);
}

.brand_head .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 22%;
}

.brand_head .icon h3 {
  font-size: 30px;
  text-align: center;
  text-shadow: 0 0 10px #f882ff, 0 0 10px #f882ff;
}

.mission_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.mission_list .line {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 10px 1px rgba(248, 130, 255, 0.6);
          box-shadow: 0 0 10px 1px rgba(248, 130, 255, 0.6);
}

.mission_list .mission_item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px;
}

.mission_list .mission_item .lt {
  width: 68%;
  padding-top: 40px;
}

.mission_list .mission_item .rt {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

.mission_list .mission_item .title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  margin-bottom: 20px;
}

.mission_list .mission_item .title_box h3 {
  font-size: 30px;
  line-height: 1.5;
  margin-right: 15px;
  text-shadow: 0 0 10px rgba(254, 147, 0, 0.8), 0 0 10px rgba(254, 147, 0, 0.8);
}

.mission_list .mission_item .title_box .times {
  color: #fe919e;
  border: 1px solid #fe919e;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 15px;
}

.mission_list .mission_item .title_box .times.type1 {
  color: #ffe065;
  border: 1px solid #ffe065;
}

.mission_list .mission_item .title_box .times.type2 {
  color: #fe919e;
  border: 1px solid #fe919e;
}

.mission_list .mission_item .title_box .prize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}

.mission_list .mission_item .title_box .prize img {
  display: inline-block;
  vertical-align: center;
  width: 30px;
}

.mission_list .mission_item .content_box p {
  font-size: 20px;
  line-height: 1.5;
}

.mission_list .mission_item .content_box .impt {
  color: #fe919e;
}

.mission_list .mission_item .content_box .gama_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  color: #ffb32e;
  margin-top: 10px;
}

.mission_list .mission_item .content_box .gama_card p {
  display: inline-block;
}

.mission_list .mission_item .content_box .gama_card .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mission_list .mission_item .content_box .gama_card img {
  width: auto;
  height: 22px;
  margin: 0 5px;
}

.mission_list .mission_item .content_box .tips {
  font-size: 15px;
  color: #ffe065;
}

.mission_list .mission_item .input_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.mission_list .mission_item .input_box .invite_input {
  display: block;
  width: 400px;
  padding: 0 20px;
  height: 50px;
  background: transparent;
  border: 1px solid #a859e7;
  font-size: 20px;
  color: #fff;
  border-radius: 10px 0 0 10px;
}

.mission_list .mission_item .input_box .invite_send {
  display: block;
  width: 85px;
  height: 50px;
  outline: none;
  border: 0;
  background: #a859e7;
  color: #fff;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
  -webkit-appearance: none;
}

.mission_list .mission_item .input_box .invite_send:hover {
  background: #8947be;
}

.mission_list .mission_item.completed {
  opacity: 0.75;
}

.mission_list .mission_item.completed .btn_green_disab {
  opacity: 1;
}

.notice_list {
  display: block;
  padding: 0 0 40px 30px;
}

.notice_list .notice_item {
  margin-bottom: 20px;
}

.notice_list .notice_sub {
  font-size: 24px;
  margin-bottom: 5px;
  position: relative;
  color: #a859e7;
  cursor: pointer;
}

.notice_list .notice_sub::before {
  content: "";
  position: absolute;
  left: -24px;
  top: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 9px 0 9px;
  border-color: #7a17c6 transparent transparent transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

.notice_list .notice_sub.on::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.notice_list .detail {
  display: none;
}

.notice_list .notice_text {
  color: #a859e7;
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
}

.notice_list .notice_ul {
  margin-left: 24px;
}

.notice_list .notice_ul li {
  list-style: decimal;
  color: #a859e7;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
}

.notice_list .notice_ul li a {
  color: #fe919e;
}

.notice_list .notice_ul li a:hover {
  color: #fff;
}

.notice_list .sec_ul {
  margin-left: 24px;
}

.notice_list .sec_ul li {
  list-style: disc;
}

.btn_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

@media screen and (max-width: 820px) {
  .wrapper {
    background: url("../images/mission/bg_full.jpg") no-repeat #150622;
    background-size: contain;
  }
  .wrapper .container {
    width: 95%;
    max-width: none;
    margin: 0 auto;
    padding: 0;
  }
  .slogan {
    width: 80vw;
    margin: 0 auto;
  }
  .brand_head {
    padding-bottom: 30px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #2b0d40), to(rgba(43, 13, 64, 0)));
    background: linear-gradient(0deg, #2b0d40 80%, rgba(43, 13, 64, 0) 100%);
  }
  .brand_head .chat_box {
    width: 65%;
  }
  .brand_head .chat_box h2 {
    font-size: 16px;
  }
  .brand_head .chat_box .mission_hint {
    font-size: 16px;
  }
  .brand_head .chat_box .brand_logo {
    margin-bottom: 10px;
  }
  .brand_head .chat_box .brand_logo img.for_w {
    width: 200px;
  }
  .brand_head .chat_box .brand_logo img.for_h {
    height: 50px;
  }
  .brand_head .icon {
    width: 28%;
  }
  .brand_head .icon h3 {
    font-size: 24px;
  }
  .mission_list {
    margin-bottom: 30px;
  }
  .mission_list .mission_item {
    padding-bottom: 30px;
  }
  .mission_list .mission_item .lt {
    width: 70%;
    padding-top: 30px;
  }
  .mission_list .mission_item .rt {
    width: 30%;
    padding-top: 30px;
  }
  .mission_list .mission_item .title_box {
    height: 40px;
    margin-bottom: 10px;
  }
  .mission_list .mission_item .title_box h3 {
    font-size: 18px;
  }
  .mission_list .mission_item .title_box .times {
    font-size: 15px;
  }
  .mission_list .mission_item .content_box {
    line-height: 1.5;
  }
  .mission_list .mission_item .content_box p {
    font-size: 15px;
  }
  .mission_list .mission_item .input_box .invite_input {
    width: calc(100% - 85px);
    font-size: 16px;
    height: 45px;
  }
  .mission_list .mission_item .input_box .invite_send {
    font-size: 16px;
    height: 45px;
  }
  .notice_list .notice_sub {
    font-size: 20px;
  }
  .notice_list .notice_sub::before {
    left: -20px;
  }
  .notice_list .notice_text {
    font-size: 15px;
  }
  .notice_list .notice_ul li {
    font-size: 15px;
  }
}

@media screen and (max-width: 640px) {
  .brand_head {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(95%, #2b0d40), to(rgba(43, 13, 64, 0)));
    background: linear-gradient(0deg, #2b0d40 95%, rgba(43, 13, 64, 0) 100%);
  }
  .brand_head .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brand_head .chat_box {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .brand_head .chat_box::after, .brand_head .chat_box::before {
    display: none;
  }
  .brand_head .icon {
    max-width: 300px;
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 30px;
  }
  .mission_list .mission_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mission_list .mission_item .lt {
    width: 100%;
  }
  .mission_list .mission_item .rt {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .brand_head .brand_logo {
    margin-bottom: 10px;
  }
  .brand_head .brand_logo img.for_w {
    width: 65%;
  }
  .brand_head .brand_logo img.for_h {
    width: 100%;
    height: auto;
  }
}
