@font-face {
  font-family: 'FakePearl-L';
  src: url(../images/fonts/FakePearl-Light.woff2) format("woff2"), url(../images/fonts/FakePearl-Light.woff) format("woff");
}

body,
html {
  background: #000;
}

body *,
html * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#hdlogo img {
  width: auto;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.btn_purple,
.btn_green,
.btn_orange,
.btn_shadow_purple {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.wrapper {
  margin-top: 55px;
  width: 100%;
  min-height: calc(100vh - 281px);
  position: relative;
  background: url(../images/game_beans/bg_left.png), url(../images/game_beans/bg_right.png), url(../images/pokinglottery/bg.jpg) no-repeat;
  background-size: 50vh, 50vh, cover;
  background-position: top left, top right, bottom center;
  background-repeat: no-repeat;
}

.wrapper .container {
  max-width: 1100px;
  width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
}

.pokinglottery_list .title {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 50px;
}

.pokinglottery_list .btn_green,
.pokinglottery_list .btn_orange {
  width: 250px;
  height: 75px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  text-align: center;
}

.pokinglottery_list .btn_green .text,
.pokinglottery_list .btn_orange .text {
  font-size: 30px;
  line-height: 75px;
}

.pokinglottery_list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pokinglottery_list .list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 550px;
  padding: 0 2%;
}

.pokinglottery_list .list li .opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pokinglottery_list .list li .opt .box {
  border: 4px solid;
  background: #000;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  padding: 10px;
  margin-bottom: 30px;
}

.pokinglottery_list .list li .opt .box_s {
  width: 150px;
  height: 150px;
  border: 3px solid;
  border-radius: 12px;
  margin: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2b185d;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8) inset;
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8) inset;
}

.pokinglottery_list .list li .opt .box_s span {
  display: block;
  color: #fff;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.pokinglottery_list .list li .opt1 .box {
  border-color: #05b0ae;
  -webkit-box-shadow: 0 0 13px 8px rgba(5, 176, 174, 0.7);
          box-shadow: 0 0 13px 8px rgba(5, 176, 174, 0.7);
}

.pokinglottery_list .list li .opt1 .box_s {
  border-color: #05b0ae;
}

.pokinglottery_list .list li .opt2 .box {
  border-color: #ecb87b;
  -webkit-box-shadow: 0 0 13px 8px rgba(236, 184, 123, 0.7);
          box-shadow: 0 0 13px 8px rgba(236, 184, 123, 0.7);
}

.pokinglottery_list .list li .opt2 .box_s {
  border-color: #ecb87b;
}

.pokinglottery_list .info {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px black, 0 0 5px black;
}

.pokinglottery_list .info .br {
  display: none;
}

.pokinglottery_list .info a {
  color: yellow;
  text-decoration: underline;
}

.pokinglottery_list .btn_area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 30px;
}

.pokinglottery .container {
  padding-top: 50px;
}

.pokinglottery h1 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.pokinglottery .poking_outter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 510px;
  height: 510px;
  margin: 30px auto;
  border: 4px solid #078e94;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px 4px rgba(5, 176, 174, 0.7);
          box-shadow: 0 0 10px 4px rgba(5, 176, 174, 0.7);
  background: #000;
}

.pokinglottery .poking {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.pokinglottery .poking_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  margin: 4px;
  border: 4px solid #078e94;
  border-radius: 20px;
  background: url(../images/logo.svg) #2b185d no-repeat;
  background-size: 120px;
  background-position: center;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8) inset;
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8) inset;
  position: relative;
}

.pokinglottery .poking_item span {
  display: none;
  position: absolute;
  top: -5px;
  left: -5px;
  font-size: 18px;
  background: #ffb32e;
  padding: 5px 8px;
  border-radius: 18px;
  color: #fff;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  animation: hint_ani 0.5s infinite alternate-reverse;
}

.pokinglottery .poking_item span::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #ffb22e transparent transparent transparent;
}

.pokinglottery .poking_item img {
  width: 80%;
}

.pokinglottery .poking_item.selected {
  background-image: url(../images/pokinglottery/selected.svg) !important;
  background-color: #282828;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
}

.pokinglottery .poking_item:hover {
  background-color: #1b0b46;
}

.pokinglottery .notice {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: yellow;
  margin-bottom: 30px;
}

.pokinglottery .prize {
  max-width: 1100px;
  margin: 0 auto;
}

.pokinglottery .prize .pc {
  display: block;
}

.pokinglottery .prize .mo {
  display: none;
}

.pokinglottery .btn_area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
}

.pokinglottery .check_prize {
  display: none;
  padding-top: 100px;
  max-width: 800px;
  width: 800px;
}

.pokinglottery .check_prize .content {
  position: relative;
  padding: 40px 0;
  background: #333046;
  border: 5px solid #7134ad;
  border-radius: 20px;
}

.pokinglottery .check_prize .content .congrate {
  position: absolute;
  width: 230px;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pokinglottery .check_prize .content .title1 {
  font-size: 30px;
  line-height: 100px;
  color: #fff;
  text-align: center;
}

.pokinglottery .check_prize .content .title2 {
  font-size: 20px;
  line-height: 100px;
  color: #fff;
  text-align: center;
}

.pokinglottery .check_prize .content .prize_img {
  width: 230px;
  margin: 0 auto;
}

.pokinglottery.poking_game .poking_outter {
  width: 680px;
  border: 4px solid #ecb87b;
  -webkit-box-shadow: 0 0 40px rgba(236, 184, 123, 0.7);
          box-shadow: 0 0 40px rgba(236, 184, 123, 0.7);
}

.pokinglottery.poking_game .poking_item {
  border: 4px solid #ecb87b;
}

.pop_up.rule {
  width: 95%;
  max-width: 1100px;
}

.pop_up.rule .pop_up_title2 {
  font-family: 'FakePearl-L';
  font-weight: normal;
  text-align: center;
  color: white;
  font-size: 40px;
  text-align: center;
  background: -webkit-linear-gradient(-86deg, #fa8a99 5%, #7e00ff 95%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
}

.pop_up.rule .content {
  overflow: hidden scroll;
  height: 65vh;
}

.pop_up.rule ul {
  margin-bottom: 10px;
}

.pop_up.rule ul li {
  font-weight: normal;
  list-style: decimal;
  color: #fff;
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
}

.pop_up.rule ul li span {
  color: #da91ff;
}

.pop_up.rule ul .sec {
  margin-left: 20px;
}

.pop_up.rule ul .sec li {
  list-style: disc;
}

.pop_up.rule ul .trd {
  margin-left: 20px;
}

.pop_up.rule ul .trd li {
  list-style: square;
}

.pop_up.rule p {
  color: #da91ff;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 5px;
}

.pop_up.rule table tr {
  border-bottom: 1px solid #ccc;
}

.pop_up.rule table th,
.pop_up.rule table td {
  padding: 8px 20px;
  color: #fff;
  line-height: 1.5;
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
}

.pop_up.rule table th span,
.pop_up.rule table td span {
  font-size: 14px;
  color: #da91ff;
}

.pop_up.rule table th .note,
.pop_up.rule table td .note {
  font-size: 14px;
  line-height: 1.2;
  color: #f6f4b9;
  text-align: left;
}

.pop_up.rule table .col-1 {
  width: 25%;
}

.pop_up.rule table .col-2 {
  width: 50%;
  text-align: left;
}

.pop_up.rule table .gm_name {
  border-right: 1px solid #ccc;
}

.pop_up.rule table .gm_note {
  border-left: 1px solid #ccc;
}

@-webkit-keyframes hint_ani {
  0% {
    top: -5px;
  }
  100% {
    top: 2px;
  }
}

@keyframes hint_ani {
  0% {
    top: -5px;
  }
  100% {
    top: 2px;
  }
}

@media screen and (max-width: 1600px) {
  .pokinglottery_list .title {
    max-width: 450px;
    margin-bottom: 30px;
  }
  .pokinglottery_list .list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .pokinglottery_list .list li {
    width: 400px;
  }
  .pokinglottery_list .list li .opt .box_s {
    width: 100px;
    height: 100px;
  }
  .pokinglottery .poking_outter {
    width: 400px;
    height: 400px;
  }
  .pokinglottery .poking_item {
    width: 115px;
    height: 115px;
    background-size: 80px;
  }
  .pokinglottery.poking_game .poking_outter {
    width: 520px;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper .container {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .wrapper {
    background: url(../images/pokinglottery/bg_m.jpg) no-repeat #100138;
    background-size: contain;
    background-position: bottom center;
    background-attachment: fixed;
  }
  .wrapper .container {
    width: 96%;
    margin: 20px auto 0;
    padding-bottom: 0;
  }
  .pokinglottery_list .btn_green,
  .pokinglottery_list .btn_orange {
    width: 200px;
    height: 65px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    text-align: center;
  }
  .pokinglottery_list .btn_green .text,
  .pokinglottery_list .btn_orange .text {
    font-size: 24px;
    line-height: 65px;
  }
  .pokinglottery_list .title {
    width: 90%;
    margin: 0 auto 30px;
  }
  .pokinglottery_list .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .pokinglottery_list .list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pokinglottery_list .list li .opt {
    width: 100%;
  }
  .pokinglottery_list .list li .opt h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .pokinglottery_list .list li .opt .box {
    margin-bottom: 10px;
    padding: 20px 0;
    border: 3px solid;
  }
  .pokinglottery_list .list li .opt .box_s {
    border: 2px solid;
  }
  .pokinglottery_list .list li .opt1 h2 {
    text-shadow: 0 0 5px #05b0ae;
  }
  .pokinglottery_list .list li .opt1 .box {
    border-color: #078e94;
    -webkit-box-shadow: 0 0 10px 4px rgba(5, 176, 174, 0.7);
            box-shadow: 0 0 10px 4px rgba(5, 176, 174, 0.7);
  }
  .pokinglottery_list .list li .opt1 .box_s {
    border-color: #078e94;
  }
  .pokinglottery_list .list li .opt2 h2 {
    text-shadow: 0 0 5px #f9d2a4;
  }
  .pokinglottery_list .list li .opt2 .box {
    border-color: #ecb87b;
    -webkit-box-shadow: 0 0 10px 4px rgba(236, 184, 123, 0.7);
            box-shadow: 0 0 10px 4px rgba(236, 184, 123, 0.7);
  }
  .pokinglottery_list .list li .opt2 .box_s {
    border-color: #ecb87b;
  }
  .pokinglottery_list .info {
    width: 98%;
    margin: 0 auto 5px;
    font-size: 14px;
  }
  .pokinglottery_list .info .br {
    display: block;
  }
  .pokinglottery_list .info .br_h {
    display: none;
  }
  .pokinglottery .poking_outter {
    width: 70vw;
    height: 70vw;
  }
  .pokinglottery .poking_item {
    width: 20vw;
    height: 20vw;
    background-size: 17vw;
  }
  .pokinglottery .poking_item.selected {
    background-size: 15vw;
  }
  .pokinglottery .check_prize .content .congrate {
    width: 50%;
    max-width: 230px;
    top: -7.5%;
  }
  .pokinglottery .check_prize .content .title1 {
    font-size: 20px;
    line-height: 60px;
  }
  .pokinglottery .check_prize .content .title2 {
    font-size: 16px;
    line-height: 60px;
  }
  .pokinglottery .check_prize .content .btn_area {
    margin: 20px 0;
  }
  .pokinglottery.poking_game .poking_outter {
    width: 70vw;
    height: 90vw;
  }
  .pokinglottery.poking_game .poking_item {
    width: 20vw;
    height: 20vw;
    background-size: 17vw;
  }
  .pokinglottery .prize {
    max-width: 800px;
    margin: 0 auto;
  }
  .pokinglottery .prize .pc {
    display: none;
  }
  .pokinglottery .prize .mo {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .pokinglottery_list .list li {
    width: 68vw;
  }
  .pokinglottery_list .list li .opt h2 {
    font-size: 24px;
  }
  .pokinglottery_list .list li .opt .box {
    padding: 1%;
  }
  .pokinglottery_list .list li .opt .box_s {
    width: 17vw;
    height: 17vw;
  }
  .pokinglottery .container {
    padding-top: 20px;
  }
  .pokinglottery h1 {
    font-size: 20px;
  }
  .pokinglottery .poking_outter {
    width: 90vw;
    height: 90vw;
    border: 2px solid #078e94;
  }
  .pokinglottery .poking_item {
    width: 25vw;
    height: 25vw;
    background-size: 20vw;
    border: 2px solid #078e94;
  }
  .pokinglottery .notice {
    font-size: 15px;
  }
  .pokinglottery .check_prize {
    margin: 50px auto;
    padding-top: 60px;
  }
  .pokinglottery .check_prize .content .btn_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pokinglottery .check_prize .content .btn_area a {
    margin-bottom: 10px;
  }
  .pokinglottery.poking_game .poking_outter {
    width: 90vw;
    height: 116vw;
    border: 2px solid #ecb87b;
  }
  .pokinglottery.poking_game .poking_item {
    width: 25vw;
    height: 25vw;
    background-size: 20vw;
    border: 2px solid #ecb87b;
  }
  .pop_up.rule .content {
    width: 95%;
    padding: 0 4%;
  }
  .pop_up.rule .pop_up_title2 {
    font-size: 30px;
  }
  .pop_up.rule ul li {
    font-size: 14px;
  }
  .pop_up.rule p {
    font-size: 14px;
  }
  .pop_up.rule table th, .pop_up.rule table td {
    padding: 5px;
    font-size: 14px;
  }
  .pop_up.rule table th span, .pop_up.rule table td span {
    font-size: 12px;
  }
  @-webkit-keyframes hint_ani {
    0% {
      top: -10px;
    }
    100% {
      top: 0px;
    }
  }
  @keyframes hint_ani {
    0% {
      top: -10px;
    }
    100% {
      top: 0px;
    }
  }
}
